extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= profile.name

        p.lead.text-light= profile.title
        if profile.bio
          .portfolio-bio
            each personal_bio in profile.bio
              p= personal_bio

      .cell.portfolio-meta.small-6.medium-2.large-3
        if profile.skills
          h6 Skills
          ul
            each skill in profile.skills
              li= skill
        if profile.contact
          h6 Contact Info
          ul
            li= profile.contact.phone
            li= profile.contact.email
          if profile.contact.links
            a.button.expanded(href=`${profile.contact.links.linkedin}`, target="_blank") LinkedIn
            a.button.expanded(href=`${profile.contact.links.github}`, target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
