extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1.profile-name= profile.name

      //- Add a description for your portfolio, what this project is, it's purpose, what it's suppossed to accomplish, etc. 
      p.lead.text-light= profile.title
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      if projects
        each project in projects
          .cell
            a(href=`project/${project.id}`)
              img.thumbnail(src=`/static/img/${project.image_urls}`)
              h5 #{project.project_name}
      
